.Title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Tables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
}

.LightArmorsTable {
    color: aliceblue;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    table-layout: fixed;
    border: 3px solid aliceblue;
    border-radius: 5%;
    padding: 1%;
    margin-right: 25px;
}

.MediumArmorsTable {
    color: aliceblue;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    font-size: large;
    align-items: center;
    table-layout: fixed;
    border: 3px solid aliceblue;
    border-radius: 5%;
    padding: 1%;
    margin-right: 25px;
}

.HeavyArmorsTable {
    color: aliceblue;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    font-size: large;
    table-layout: fixed;
    border: 3px solid aliceblue;
    border-radius: 5%;
    padding: 1%;
    margin-right: 25px;
}

.HeavyArmorsTableConteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;
}

tr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 2%;

}

td,
th {
    width: 150px;
}

.columnArmorClass {
    width: 180px;
}