.RadioConteiner {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.RadioTitle {
    display: flex;
    width: 15%;

}

h5 {
    font-size: 15px;
}

.ButtonConteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
}