.SkillConteiner {
    display: flex;
    flex-direction: row;
    padding: 1px;
    justify-content: center;
}

.SkillValue {
    font-size: 15px;
    text-decoration: underline;
    width: 20%;

}

.SkillName {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}