.Modal {
    display: flex;
    backdrop-filter: blur(2px);
}

.ModalContent {
    display: flex;
    background-color: rgb(43, 43, 43);
}


.ModalBody {
    padding: 7%;
}

.BodyConteiner {
    display: flex;
    flex-direction: row;
}

.BaseInfoConteiner {
    margin-right: 7px;
}

.CharacteristicConteiner {
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    width: 130px;
}