.MainConteiner {
    display: flex;
    color: rgb(250, 250, 235);
}

h1 {
    font-size: 44px;
    color: rgb(255, 255, 255);
}

.CharConteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.ChangeButton {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 40px;
}

/* Верхний контейнер */

.TopInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 1%;
}

.CharName {
    display: flex;
    align-items: center;
}

.BaseInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.InfoConteiner {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.ButtomInfo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1%;
    padding-top: 0;
}

/* Левый контейнер */

.Left {
    display: flex;
    flex-direction: row;
}

.Сharacteristics {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Skills {
    margin-left: 50px;
}

.InspPossesConteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    padding: 5px;
    width: 230px;
    margin-bottom: 7px;
}

.Inspiration {
    display: flex;
    justify-content: center;
}

.InspirationTitle {
    margin-left: 10px;

}

.Possession {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
}

.PossessionTitle {
    margin-left: 10px;
    font-size: 20px;

}

.PossessionValue {
    display: flex;
    align-items: center;
    font-size: 30px;
    border: 1px solid aliceblue;
    border-radius: 20%;
    padding: 2%;
    height: 50px;
}

.SaveSkills {
    border: 1px solid aliceblue;
    border-radius: 5%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 10px;
}

.SaveSkillsTitle {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.SkillsRoll {
    border: 1px solid aliceblue;
    border-radius: 5%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.SkillsRollTitle {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

/* Средний контейнер */

.StatsTitle {
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 7px;
}

.StatsValue {
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.Middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArmorsInitSpeed {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.ArmorClass {
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid aliceblue;
    border-radius: 10%;
    padding: 4%;
    width: 110px;
}

.Initiative {
    margin-right: 7px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    border: 1px solid aliceblue;
    border-radius: 10%;
    padding: 3%;
}

.Speed {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid aliceblue;
    border-radius: 10%;
    padding: 4%;
}

.HPConteiner {
    margin-bottom: 15px;
    border: 1px solid aliceblue;
    border-radius: 10%;
    padding: 4%;
}

.InventoryCoins {
    width: 100%;
}

.Inventory {
    width: 100%;
    margin-bottom: 15px;
}

.InventoryBar {
    margin-top: 5px;
    background-color: #333333;
    color: aliceblue;
    width: 100%;
    height: 250px;
    border: 1px solid aliceblue;
    border-radius: 2%;
}

.InventoryBar:focus {
    background-color: #333333;
    color: aliceblue;
}

.CoinsBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10 px;
}

.CoinInput {
    width: 65px;
}

.Coin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Правый контейнер */

.Right {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 15px;
}

.Weapons {
    margin-top: 30px;
    border: 1px solid aliceblue;
    border-radius: 7%;
    padding: 2.5%;
}

.WeaponsButtons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.Peculiarities {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid aliceblue;
    border-radius: 7%;
    padding: 2.5%;
    margin-top: 30px;
}

.PerculBar {
    margin-top: 5px;
    background-color: #333333;
    color: aliceblue;
    width: 100%;
    height: 250px;
    border: 1px solid aliceblue;
    border-radius: 2%;
}

.PerculBar:focus {
    background-color: #333333;
    color: aliceblue;
}