.MainConteiner {
    display: flex;
    color: rgb(250, 250, 235);
}

h1 {
    font-size: 44px;
    color: rgb(255, 255, 255);
}

.CharConteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.ChangeButton {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 40px;
}

/* Верхний контейнер */

.TopInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1%;
}

.CharName {
    display: flex;
    align-items: center;
}

.BaseInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.InfoConteiner {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.ButtomInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1%;
}

.Left {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.Сharacteristics {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.Skills {
    margin-left: 15px;
}

.InspPossesConteiner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    padding: 5px;
    width: 250px;
    margin-bottom: 7px;
}

.Inspiration {
    display: flex;
    justify-content: center;
}

.InspirationTitle {
    margin-left: 10px;

}

.Possession {
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
}

.PossessionTitle {
    margin-left: 10px;
    font-size: 20px;

}

.PossessionValue {
    display: flex;
    align-items: center;
    font-size: 30px;
    border: 1px solid aliceblue;
    border-radius: 20%;
    padding: 2%;
    height: 50px;
}

.SaveSkills {
    border: 1px solid aliceblue;
    border-radius: 5%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.SaveSkillsTitle {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}